  :root {
  --navbackgroundcolor: #384554;
  --sidebarbackgroundcolor: #656d76;
  --terminalbackgroundcolor: #0d1823;
  --inputbackgroundcolor: #e6edf3;
  --maincolor: #7d8590;
  --main_font: Arial;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--main_font);
}

a {
  text-decoration: none;
  color: var(--inputbackgroundcolor);
}

nav {
  height: 50px;
  background-color: var(--navbackgroundcolor);
  display: flex;
  align-items: center;
}

nav a {
  margin-left: 20px;
}

.container {
  position: relative;
  display: flex;
  height: calc(100vh - 50px); 
}





/* Sidebar */

.left_sidebar {
  background-color: var(--navbackgroundcolor);
  width: 5%;
}

.left_sidebar button {
  height: 60px;
  width: 60px;
  background-color: var(--sidebarbackgroundcolor);
  border: 1px solid var(--sidebarbackgroundcolor);
  border-radius: 45px;
  margin-top: 20px;
  margin-left: 9%;
  font-size: 25px;
  color: var(--inputbackgroundcolor);
  cursor: pointer;
}

.left_sidebar button:active {
  border: 1px solid var(--inputbackgroundcolor);
}

.right_sidebar {
  background-color: var(--sidebarbackgroundcolor);
  width: 20%;
  position: relative;
  padding-top: 20px;
  overflow: hidden;
}

.DNA-data {
  width: 100%;
}

.DNA-data a {
  display: flex;
  padding-left: 20px;
  padding-top: 8px;
  width: 93%;
  flex-wrap: wrap;
  font-size: 20px;
}

.DNA-data a:hover {
  background-color: var(--maincolor);
}

.right_sidebar h3 {
  margin-left: 10px;
  color: var(--inputbackgroundcolor);
  cursor: pointer;
  font-size: 20px;
  overflow: hidden;
}

.RNA-data {
  width: 100%;
  display: none;
}

.RNA-data a {
  display: flex;
  padding-left: 20px;
  padding-top: 8px;
  width: 93%;
  flex-wrap: wrap;
  font-size: 20px;
}

.RNA-data a:hover {
  background-color: var(--maincolor);
  }
.sidr {
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: var(--navbackgroundcolor);
  cursor: ew-resize;
  top: 0;
  right: 0;
 }


/* main */

.main {
  background-color: var(--maincolor);
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
}

.maindata {
  display: flex;
  width: 100%;
  flex-grow: 1; 
  background-color: var(--maincolor);
}


/* Input field */

.input_area {
  display: flex;
  flex-grow: 1;
  /* width: 70%; */
}
.entry{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: var(--maincolor);
  padding-left: 40px;
}
.heading{
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  flex-shrink: 1;
}
.bottom{
  display: flex;
  padding: 10px;
  flex-shrink: 1;
  
}
#seq-text{
  border-radius: 15px;
  padding: 10px;
  flex-shrink: 1;
}
.btns{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 120px;
}
#submitbtn, .btn{
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: var(--sidebarbackgroundcolor);
  color: #fff;
  cursor: pointer;
}


/* Codearea */

.codearea {
  flex-shrink: 0;
  background-color: var(--sidebarbackgroundcolor);
  width: 30%; /* Initial width of the code area */
  height: 100%; /* Ensures code area fills vertical space */
  position: relative; /* Add position relative for absolute positioning */
  overflow: hidden; /* Hide overflow content */
  display: none;  
}

.codearea .coder {
  width: 10px; /* Adjusted width for the resize handle */
  height: 100%; /* Height of the resize handle matches code area */
  cursor: ew-resize; /* Set cursor for horizontal resizing */
  /* position: absolute; */
  /* left: 0; Position the resize handle on the left side */
  /* top: 0; Aligned with the top of the code area */
  background-color: #aaa; /* Set background color for visibility */
  
}
.codedata{
  width: 95%;
  margin-left: 5px;
}

.top{
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  
}
.langs{
  margin-top: 5px;
  padding-right: 3px;
}
.codeSelect{
  border: none;
  padding: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
#rust{
  background-color: var(--inputbackgroundcolor);
  border: 2px solid var(--inputbackgroundcolor);
}
#python{
  background-color: var(--sidebarbackgroundcolor);
  color: #fff;
}
.codeArea{
  display: flex;
  justify-content: center;
  /* flex-grow: 1; */
  /* width: 100%; */
  /* background-color: var(--inputbackgroundcolor); */
  /* background: transparent; */
}
.codeText{
  width: 95%;
  padding: 5px;
  border: none;
  background-color: var(--inputbackgroundcolor);
  border-radius: 10px;
}
.codeText code{
  background-color: var(--inputbackgroundcolor);
  margin: 0;
  padding: 0;
  /* border: 1px solid var(--inputbackgroundcolor); */
  /* border-radius: 10px; */
  /* border: 10px solid var(--inputbackgroundcolor); */
  
}

#pythonCode{
  display: none;
}
.bottom2{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 10px;
}
#copybtn{
  background-color: var(--inputbackgroundcolor);
  color: black;
}






/* Terminal */


.terminal {
  background-color: var(--terminalbackgroundcolor);
  height: 30%;
  width: 100%;
  position: relative;
  display: none;
}

.terminal .terminalr {
  height: 10px;
  width: 100%;
  cursor: ns-resize;
  position: absolute;
  top: -5px; 
  background-color: #aaa;
}

.terminal_data{
  width: 100%;
  height: 100%;
  
}
.terminal_data p{
  width: 95%;
  margin-top: 30px;
  margin-left: 10px;
  color: white;

}






/* Multiple Pages */



/*  Nucleotide counting Page */

#NC_submitbtn{
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: var(--sidebarbackgroundcolor);
  color: #fff;
  cursor: pointer;
}
#NC_seq-text{
  border-radius: 15px;
  padding: 10px;
  flex-shrink: 1;
}



/* Complementary Page */

#Comp_submitbtn{
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: var(--sidebarbackgroundcolor);
  color: #fff;
  cursor: pointer;
}
#Comp_seq-text{
  border-radius: 15px;
  padding: 10px;
  flex-shrink: 1;
}




/* GC Page */

#GC_submitbtn{
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: var(--sidebarbackgroundcolor);
  color: #fff;
  cursor: pointer;
}
#GC_seq-text{
  border-radius: 15px;
  padding: 10px;
  flex-shrink: 1;
}


/* Transcription Page */

#Transcription_submitbtn{
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: var(--sidebarbackgroundcolor);
  color: #fff;
  cursor: pointer;
}
#Transcription_seq-text{
  border-radius: 15px;
  padding: 10px;
  flex-shrink: 1;
}



/* DNA Motif Page */

#Motif_submitbtn{
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: var(--sidebarbackgroundcolor);
  color: #fff;
  cursor: pointer;
}
#Motif_seq-text{
  border-radius: 15px;
  padding: 10px;
  flex-shrink: 1;
}
.text-area h3{
  color: var(--inputbackgroundcolor);
  width: 200px;
  font-size: 20px;
}



/* Point Mutations Page */

#Point_submitbtn{
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: var(--sidebarbackgroundcolor);
  color: #fff;
  cursor: pointer;
}
#Point1_seq-text{
  border-radius: 15px;
  padding: 10px;
  flex-shrink: 1;
}
#Point2_seq-text{
  border-radius: 15px;
  padding: 10px;
  flex-shrink: 1;
}
.text-area h3{
  color: var(--inputbackgroundcolor);
  width: 300px;
  font-size: 20px;
}
.Point_btns{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  padding-left: 100px;
}


/* Profile and Census page */
#ProCen_submitbtn{
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: var(--sidebarbackgroundcolor);
  color: #fff;
  cursor: pointer;
}
#ProCen_seq-text{
  border-radius: 15px;
  padding: 10px;
  flex-shrink: 1;
}
.ProCen_profile{
  margin-top: 20px;
  width: 100%;
  height: 100px;
  color: var(--inputbackgroundcolor);
}
.ProCen_consensus{
  width: 100%;
  height: 20px;
  color: var(--inputbackgroundcolor);
}


/* Kmer Composition page */

#Kmer_comp_submitbtn{
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: var(--sidebarbackgroundcolor);
  color: #fff;
  cursor: pointer;
}
#Kmer_comp_seq-text{
  border-radius: 15px;
  padding: 10px;
  flex-shrink: 1;
}
