:root{
  --navbackgroundcolor:#384554;
  --sidebarbackgroundcolor:#656d76;
  --terminalbackgroundcolor:#0d1823;
  --inputbackgroundcolor:#e6edf3;
  --maincolor:#7d8590;
  --main_font:Arial;
}
*{
  margin: 0;
  padding: 0;
  font-family:var(--main_font);
}

.grid{
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 320px 1fr;
  grid-template-rows: 30px 1fr;   
}
.header{
  /* background-color: blueviolet; */
  grid-column: 1/3;
  grid-row: 1/2;
}
.side{
  background-color: grey;
}
.main{
  background-color: rgb(248, 141, 0);
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: 1fr 250px;
}
.entry{
  background-color: aqua;
  grid-column: 1/2;
  grid-row: 1/2;
}
.code{
  background-color: beige;
  grid-column: 2/3;
  grid-row: 1/2;
}
.terminal{
  background-color: blue;
  grid-column: 1/3;
  grid-row: 2/3;
}





a{
  text-decoration: none;
  color: white;
}
nav {
  overflow: hidden;
  height: 30px; 
  background-color: var(--navbackgroundcolor);
  display: flex;
  align-items: center; 
}

nav a {
  display: block;
  color: white;
  padding: 2px 2px;
  margin: 0px 8px;
  text-decoration: none;
  font-size: 15px;
  border-radius: 5px;
}

nav a:hover {
  background-color: grey;
}
/* .main{
  display: flex;
} */
.sidebar{
  display: flex;
  height: 100%;
}
.sidebar1{
  width: 60px;
  background-color: var(--navbackgroundcolor);
  /* height: 100vh; */
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  
}
.sidebar1 button{
  height: 50px;
  width: 50px;
  border-radius: 45px;
  border: 1px solid white;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0px;
  /* margin: 20px 0px 0px 20px; */
  color: white;
  background-color: var(--sidebarbackgroundcolor);
  transition-duration: border 3s;
  transition-timing-function: border ease-in-out;
}
.sidebar button:hover{
  border: 2px solid white;
  cursor: pointer;
}
.sidebar2{
  background-color: var(--sidebarbackgroundcolor);
  overflow: hidden;
  /* height: 100vh; */
  margin: 0; 
  padding: 0;
  top: 0;
  
}
.sidebar2 a{
  display: flex;
  padding: 10px 0px 5px 20px;
  
  /* margin-bottom: 7px; */
  width: 100em;
  flex-wrap: wrap;
  font-size: 18px;
}
.sidebar2 a:hover{
  background-color: var(--maincolor);
}
.sidebar2 h3{
  color: white;
  font-size: 25px;
  padding: 10px 20px;
  background-color: #4f5863;
  /* margin-left: 20px; */
}
.mainss{ 
  width: 50%;
  height: 90vh;
  padding-left: 17%;
  padding-right: 2%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;  
  display: grid;
  place-items: center;
}
.mainss img{
  width: 700px;
  height: 600px;
}

/* Common in all */
.flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: var(--maincolor);
}
.heading{
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  flex-shrink: 1;
}
.bottom{
  display: flex;
  padding: 10px;
  flex-shrink: 1;
}
#seq-text{
  border-radius: 15px;
  padding: 10px;
  flex-shrink: 1;
}
.btns{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.submit, .btn{
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: var(--sidebarbackgroundcolor);
  color: #fff;
}
.mainscreen{
  background-color: var(--maincolor);
  width: 100%;
}
.mainscreen_data{
  display: flex;
  width: 100%;
  height: 70%;
  
}
.mainscreen-data-input{
  display: flex;
  width: 70%;
  height: 100%;
}

.data-code{
  /* display: none; */
  width: 40%;
  height: 100%;
  margin-left: 18.2%;
  background-color: var(--sidebarbackgroundcolor);
}                       
.data-code textarea{
  background-color: var(--inputbackgroundcolor);
  width: 350px;
  height: 400px;
  resize: none;
  margin-left: 20px;
  border: 1px solid var(--inputbackgroundcolor);
  border-radius: 10px;
}
.Code_heading{
  background-color: transparent;
  color: var(--inputbackgroundcolor);
  font-size: 20px;
}
.data-code-header{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.data-code-header-buttons{
  padding-left: 60px;
}
.data-code-header-buttons button{
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border: 1px solid var(--inputbackgroundcolor);
}
.data-code-header-buttons .Python_code {
  border: 1px solid var(--sidebarbackgroundcolor);
}
.data-code-footer{
  margin-left: 230px;
  display: flex;
  justify-content: space-around;
}
.data-code-footer button{
  width: 60px;
  height: 25px;
  border-radius: 10px;
  border: 1px solid var(--sidebarbackgroundcolor);
  font-size: 20px;
  color: var(--sidebarbackgroundcolor);
  background-color: var(--inputbackgroundcolor);
  cursor: pointer;
}
.Rust_code{
  width: 50px;
  height: 35px;
  font-size: 20px;
  background-color: var(--inputbackgroundcolor);
}
.Rust_code a{
  color: var(--sidebarbackgroundcolor);
}
.Python_code {
  width: 75px;
  height: 35px;
  font-size: 20px;
  background-color: transparent;
}
.Python_code a{
  color: var(--inputbackgroundcolor);
}
.Mainscreen-terminal{
  /* display: none; */
  width: 100%;
  height: 30%;
  background-color: var(--terminalbackgroundcolor);
}
.Mainscreen-terminal h3{
  color: #fff;
  /* margin-top: 100px; */
  padding-top: 10px;
  margin-left: 20px;
} 

/* Nucleotide Counting data*/
.NC_input{
  display: flex;
  align-items: center;
  margin-top: 100px;
  margin-left: 150px;
}
.NC_inputfield{
  width: 350px;
}
.NC_inputfield h3{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 20px;
  color: white;
}
.NC_inputfield textarea{
  resize: none;
  padding: 10px 20px;
  width: 300px;
  height: 90px;
  background-color: var(--inputbackgroundcolor);
  border-radius: 10px;
}
.NC_buttons{
  margin-top: 20px;
}
.NC_buttons input{
  margin-top: 10px;
  width: 70px;
  height: 25px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
.NC_buttons button{
  display: grid;
  margin-top: 10px;
  width: 70px;
  height: 25px;
  font-size: 16px;
  padding-top: 4px;
  border: none;
  border-radius: 5px;
}
.NC_code_terminal-python{
  display: none;
}
.NC_terminaloutput{
  width: 100%;
  height: auto;
  margin-top: 20px;
  
}
.NC_terminaloutput p{
  color: white;
  width: 90%;
}